.content-policy {
    width: 70%;
    margin: auto;
    padding-bottom: 40px;
    h2 {
        margin: 1.5em 0 0.5em;
        font-weight: 800;
        font-size: 28px;
        line-height: 1.1;
        color: #115288;
    }
    p {
        color: #115288;
        font-size: 15px;
        line-height: 1.6;
        margin: 2em 0 0.5em;
    }
}
